/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap"); /* HEADER */

.container p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}
.banner h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  /* font-size: bold; */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
}
/* HEADER */
.logo {
  background-color: black;
  padding: 40px;
  margin: 0 auto 0 auto;
  text-align: center;
}
.logo img {
  width: 50%;
}
.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;
  padding: 30px;
}

.banner button {
  color: white;
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-size: bold;
  height: 40px;
  width: 120px;
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
}
/* MAIN */
/* main div {
  margin: 60px 10px 0px 10px;
} */
main h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  /* font-size: bold; */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 25px;
}
.photo {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}
.photo img {
  border-radius: 300px;
  /* TODO: centrare immagine */
}

.citazione-ceo {
  background-color: #e22d0e;
  height: 300px;
  width: 100%;
  color: white;
}
.citazione-ceo h1 {
}
